<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wo1261931780.chooseCollegeJava.mapper.UniversityRankingsRurWorldMapper">
  <resultMap id="BaseResultMap" type="wo1261931780.chooseCollegeJava.entity.UniversityRankingsRurWorld">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="university_name_chinese" jdbcType="VARCHAR" property="universityNameChinese" />
    <result column="university_name_english" jdbcType="VARCHAR" property="universityNameEnglish" />
    <result column="university_tags" jdbcType="VARCHAR" property="universityTags" />
    <result column="university_tags_state" jdbcType="VARCHAR" property="universityTagsState" />
    <result column="ranking_category" jdbcType="VARCHAR" property="rankingCategory" />
    <result column="ranking_year" jdbcType="OTHER" property="rankingYear" />
    <result column="current_rank_integer" jdbcType="INTEGER" property="currentRankInteger" />
    <result column="current_rank_raw" jdbcType="VARCHAR" property="currentRankRaw" />
    <result column="rank_variant" jdbcType="VARCHAR" property="rankVariant" />
  </resultMap>
  <sql id="Base_Column_List">
    id, university_name_chinese, university_name_english, university_tags, university_tags_state,
    ranking_category, ranking_year, current_rank_integer, current_rank_raw, rank_variant
  </sql>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into computer_rank.university_rankings_rur_world
    (university_name_chinese, university_name_english, university_tags, university_tags_state,
      ranking_category, ranking_year, current_rank_integer, current_rank_raw, rank_variant)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.universityNameChinese,jdbcType=VARCHAR}, #{item.universityNameEnglish,jdbcType=VARCHAR},
        #{item.universityTags,jdbcType=VARCHAR}, #{item.universityTagsState,jdbcType=VARCHAR},
        #{item.rankingCategory,jdbcType=VARCHAR}, #{item.rankingYear,jdbcType=OTHER}, #{item.currentRankInteger,jdbcType=INTEGER},
        #{item.currentRankRaw,jdbcType=VARCHAR}, #{item.rankVariant,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <delete id="deleteByPrimaryKeyIn">
    delete from computer_rank.university_rankings_rur_world where id in
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id,jdbcType=INTEGER}
    </foreach>
  </delete>
  <select id="selectDistinctYears" resultType="java.lang.String">
    SELECT DISTINCT ranking_year FROM computer_rank.university_rankings_rur_world
    WHERE ranking_year IS NOT NULL AND ranking_year != ''
    ORDER BY ranking_year DESC
  </select>
  <select id="queryByCondition" resultMap="BaseResultMap">
    SELECT * FROM computer_rank.university_rankings_rur_world
    <where>
      <if test="universityNameChinese != null and universityNameChinese != ''">
        AND university_name_chinese LIKE CONCAT('%', #{universityNameChinese}, '%')
      </if>
      <if test="universityTags != null and universityTags != ''">
        AND university_tags = #{universityTags}
      </if>
      <if test="universityTagsState != null and universityTagsState != ''">
        AND university_tags_state = #{universityTagsState}
      </if>
      <if test="rankingCategory != null and rankingCategory != ''">
        AND ranking_category = #{rankingCategory}
      </if>
      <if test="rankingYear != null and rankingYear != ''">
        AND ranking_year = #{rankingYear}
      </if>
      <if test="currentRankLimit != null and currentRankLimit > 0">
        AND current_rank_integer IS NOT NULL AND current_rank_integer &lt;= #{currentRankLimit}
      </if>
    </where>
    ORDER BY ranking_year DESC, current_rank_integer ASC, id ASC
    LIMIT #{offset}, #{limit}
  </select>
  <select id="countByCondition" resultType="int">
    SELECT COUNT(*) FROM computer_rank.university_rankings_rur_world
    <where>
      <if test="universityNameChinese != null and universityNameChinese != ''">
        AND university_name_chinese LIKE CONCAT('%', #{universityNameChinese}, '%')
      </if>
      <if test="universityTags != null and universityTags != ''">
        AND university_tags = #{universityTags}
      </if>
      <if test="universityTagsState != null and universityTagsState != ''">
        AND university_tags_state = #{universityTagsState}
      </if>
      <if test="rankingCategory != null and rankingCategory != ''">
        AND ranking_category = #{rankingCategory}
      </if>
      <if test="rankingYear != null and rankingYear != ''">
        AND ranking_year = #{rankingYear}
      </if>
      <if test="currentRankLimit != null and currentRankLimit > 0">
        AND current_rank_integer IS NOT NULL AND current_rank_integer &lt;= #{currentRankLimit}
      </if>
    </where>
  </select>
</mapper>
